<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/site.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a id="home" class="left-floated" href="/">MoneyGone</a>
                </li>
            </ul>
            <ul>
                {{#if user}}
                <li>
                    <a class="right-floated" href="/profile/{{user._id}}">[{{user.username}} profile]</a>
                </li>

                <li>
                    <a class="right-floated" href="/logout">Logout</a>
                </li>
                {{else}}
                <li>
                    <a class="right-floated" href="/login">Login</a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        <table class="expenses-info">
            <thead>
                <tr>
                    <th colspan="2">Expenses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Amount:</td>
                    <td>{{user.totalAmount}} BGN</td>
                </tr>
                <tr>
                    <td>Total Merches</td>
                    <td>{{user.totalMerches}}</td>
                </tr>
            </tbody>
        </table>

        <div class="current-amount">
            <p>Available amount: <span>{{user.balance}} BGN</span></p>
        </div>
    </main>

    <footer>
        <!-- <a href="#home"> &uarr; Back to top &uarr;</a> -->
        <img src="https://softuni.bg/Content/images/about-page/softuni.png" alt="">
        <p>Software University - JavaScript Back-End September 2019 Season</p>
        <p>@2019 MoneyGone. All Rights Reserved &copy;</p>
    </footer>
</body>

</html>